<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="p-3 mb-2 bg-info text-dark">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">Curiosity Park</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">MI Test</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
    </div>
    </nav>

    <title>Courses</title>
    <style>
        .center {
            text-align: center;
            color: rgb(66, 68, 189);
        }
    </style>
</head>

<body>

    <h1 class="center">Course</h1>

    <div class="container my-12">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4"> </div>

            <div class="card col-lg-4 mx-auto mx-2 " style="width: 18rem;">

                <img src="/public/images/1.jpeg" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Painting</h5>
                    <p class="card-text">Painting helps you develop your unique way of communicating with others. Regular involvement in painting enhances confidence, improves muscle control, and strengthens fine motor skills. Painting is also very helpful in one’s emotional
                        well-being. Learn the art directly from the artists.</p>

                    <a href="#" class="card-link">Book a free Demo</a>
                    <a href="1.ejs" class="card-link">Learn More</a>
                </div>
            </div>



            <div class="card col-lg-4 mx-auto mx-2" style="width: 18rem;">
                <img src="/public/images/2.jpeg" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">
                        Creative Writing and Storytelling</h5>
                    <p class="card-text">Creative writing allows you to clarify your thoughts, boost your imagination and develop artistic self-expression. Creative Writing also helps you navigate through emotions and augments your confidence. Develop your artistic expression
                        with our expert teachers.</p>
                    <a href="#" class="card-link">Book a free Demo</a>
                    <a href="2.ejs" class="card-link">Learn More</a>
                </div>
            </div>

            <div class="card col-lg-4 mx-auto mx-2" style="width: 18rem;">
                <img src="/public/images/3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Public Speaking</h5>
                    <p class="card-text">Public speaking helps you overcome fears, builds self-confidence, and strengthens your communication skills. Improved public speaking also enhances the leadership skills of a person. Ameliorate your public speaking skills with our
                        master orators.</p>
                    <a href="#" class="card-link">Book a free Demo</a>
                    <a href="3.ejs" class="card-link">Learn More</a>
                </div>
            </div>



            <div class="container my-12">
                <div class="row">
                    <div class="row row-cols-1 row-cols-md-3 g-4"></div>
                    <div class="card col-lg-4 mx-auto" style="width: 18rem;">
                        <img src="/public/images/4.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Singing</h5>
                            <p class="card-text">Singing boosts your cognitive development. It helps you express your emotions, improves social-emotional learnings, and stimulates your immune response. Learn singing from our master coaches.</p>
                            <a href="#" class="card-link">Book a free Demo</a>
                            <a href="4.ejs" class="card-link">Learn More</a>
                        </div>
                    </div>

                    <div class="card col-lg-4 mx-auto" style="width: 18rem;">
                        <img src="/public/images/5.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Chess</h5>
                            <p class="card-text">Playing Chess has many cognitive benefits for children as it enhances concentration and helps develop intuition, memory, and creative abilities to solve a problem. Learn to play Chess with our expert coaches.</p>
                            <a href="#" class="card-link">Book a free Demo</a>
                            <a href="5.ejs" class="card-link">Learn More</a>
                        </div>
                    </div>

                    <div class="card col-lg-4 mx-auto" style="width: 18rem;">
                        <img src="/public/images/6.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Dancing</h5>
                            <p class="card-text">
                                Dance is one of the very few activities that positively impact our mind and body both. Not only it improves mind-body coordination but it also improves discipline, focus, and self-expression. Learn to move with our expert coaches.</p>
                            <a href="#" class="card-link">Book a free Demo</a>
                            <a href="6.ejs" class="card-link">Learn More</a>
                        </div>
                    </div>




                    <div class="container my-12">
                        <div class="row">
                            <div class="row row-cols-1 row-cols-md-3 g-4"></div>

                            <div class="card col-lg-4 mx-auto" style="width: 18rem;">
                                <img src="/public/images/7.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">singing</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.They learn to design and create simple machines on their own. The course ignites curiosity and eagerness in children and
                                        nurtures their cognitive and spatial abilities</p>
                                    <a href="#" class="card-link">Book a free Demo</a>
                                    <a href="7.ejs" class="card-link">Learn More</a>
                                </div>
                            </div>

                            <div class="card col-lg-4 mx-auto" style="width: 18rem;">
                                <img src="/public/images/8.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Finance Master</h5>
                                    <p class="card-text">Financial literacy is an important life skill that one needs in the 21st century and must be taught at an early age. Financial literacy helps you plan and manage your money optimally. It increases your savings and provides
                                        you better financial stability. Learn the nuances of money from our financial masters.</p>
                                    <a href="#" class="card-link">Book a free Demo</a>
                                    <a href="8.ejs" class="card-link">Learn More</a>
                                </div>
                            </div>

                            <div class="card col-lg-4 mx-auto" style="width: 18rem;">
                                <img src="/public/images/9.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Robotics and Automation</h5>
                                    <p class="card-text">Robotics and Automation allows children to learn and experiment with stem concepts. They learn to design and create simple machines on their own. The course ignites curiosity and eagerness in children and nurtures their
                                        cognitive and spatial abilities</p>
                                    <a href="#" class="card-link">Book a free Demo</a>
                                    <a href="9.ejs" class="card-link">Learn More</a>
                                </div>
                            </div>


                            <!-- Optional JavaScript; choose one of the two! -->

                            <!-- Option 1: Bootstrap Bundle with Popper -->
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

                            <!-- Option 2: Separate Popper and Bootstrap JS -->
                            <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>