<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet">

  <!-- Custom Styling -->
  <link rel="stylesheet" href="/css/home.css">



  <title>Home</title>
</head>

<body>
  <!-- narbar and top start -->
  <!-- header section starts  -->

  <header class="header">

    <a href="#" class="logo"><img src="/images/CurosityParkLogo.jpeg" class="logo-name"></a>


    <div class="fas fa-bars"></div>


    <nav class="navbar">
      <ul>
        <li><a href="#home">home</a></li>
        <li><a href="#calender">Calender</a></li>
        <li><a href="#skills">Course</a></li>
        <li><a href="/getMiTest">MI Test</a></li>
        <li><a href="#contact">My Profile</a></li>
        <li><a id="login" href="#">Login</a></li>

      </ul>
    </nav>


  </header>


  <!-- header section ends -->
  <section>
    <div class="overlay">
      <div class="overlay-info-container">
        <div class="overlay-info">
          <div class="overlay-title">
            Curiosity Park
          </div>
          <div class="overlay-description">
            Nurturing 21st Century Minds
          </div>
          <div class="overlay-btn">
            <div class="btn-container">
              <button class="button" style="vertical-align:middle"><span>Register Now</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-image-container">
        <img src="/images/girl.png" alt="girl photo" height="100%">
      </div>
    </div>

  </section>

  <!-- narbar and top end-->
  <!-- Page Wrapper -->
  <div class="page-wrapper">
    <!-- Post Slider -->
    <div class="post-slider">
      <h1 class="slider-title">Upcoming Sessions</h1>
      <i class="fas fa-chevron-circle-left prev"></i>
      <i class="fas fa-chevron-circle-right next"></i>

      <div class="post-wrapper">

        <div class="post">
          <img
            src="https://static.wixstatic.com/media/131a9a_0b91f9e51baa41a39d1cd701db454db4~mv2.jpg/v1/fill/w_425,h_240,al_c,q_80,usm_0.66_1.00_0.01/131a9a_0b91f9e51baa41a39d1cd701db454db4~mv2.webp"
            alt="" class="slider-image">
          <div class="post-info">
            <h2><a href="#">A Date with Stars</a></h2>
            <h3>Aug-27, 4-5 PM<br>
              Age: 8-15 years</h3>

          </div>
        </div>

        <div class="post">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuC3ncdb5d4yMrrulH-53vz2Kq5XlhnlozOg&usqp=CAU"
            alt="" class="slider-image">
          <div class="post-info">
            <h2><a href="#">A Date with Stars</a></h2>
            <h3>Aug-27, 4-5 PM<br>
              Age: 8-15 years</h3>
          </div>
        </div>

        <div class="post">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHWyloS0AkaoQGPJFZ6bzByFQSZIJMx6W4lA&usqp=CAU"
            alt="" class="slider-image">
          <div class="post-info">
            <h2><a href="#">A Date with Stars</a></h2>
            <h3>Aug-27, 4-5 PM<br>
              Age: 8-15 years</h3>
          </div>
        </div>

        <div class="post">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuC3ncdb5d4yMrrulH-53vz2Kq5XlhnlozOg&usqp=CAU"
            alt="" class="slider-image">
          <div class="post-info">
            <h2><a href="#">A Date with Stars</a></h2>
            <h3>Aug-27, 4-5 PM<br>
              Age: 8-15 years</h3>
          </div>
        </div>

        <div class="post">
          <img
            src="https://marvel-b1-cdn.bc0a.com/f00000000026007/resilienteducator.com/wp-content/uploads/sites/34/2013/01/teacher-hands-raised-min.jpg"
            alt="" class="slider-image">
          <div class="post-info">
            <h2><a href="#">A Date with Stars</a></h2>
            <h3>Aug-27, 4-5 PM<br>
              Age: 8-15 years</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- // Post Slider -->

  <div class="middle-warpper">
    <!-- youtube  Slider -->
    <div class="youtube-slider">
      <div class="btn-container">
        <button class="button" style="vertical-align:middle"><span>Previous Sessions </span></button>
      </div>
      <h1 class="youtube-slider-title">The Art of Moneymatics
      </h1>
      <h2 class="youtube-slider-description">Let's understand the value of money
      </h2>

      <i class="fas fa-chevron-circle-left prev"></i>
      <i class="fas fa-chevron-circle-right next"></i>

      <div class="youtube-wrapper">

        <div class="post">
          <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f5TyqlDmQAY"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>

        <div class="post">
          <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-QgLxAE6Qig"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="post">
          <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YoSfomDLBCw"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="post">
          <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gZqEkgyf4Ag"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>

      </div>

    </div>
    <!-- // youtube Slider -->

    <!-- bottom-Post Slider -->
    <div class="bottom-post-slider">
      <h1 class="slider-title">21st Century Skills Bootcamps</h1>
      <div class="slider-description-container">
        <h3 class="slider-description">I'm a paragraph. Click here to add your own text and edit me. I’m a great
          place
          for you
          to tell a story and let your users know a little more miTest-heading you.</h3>
      </div>
      <i class="fas fa-angle-left prev"></i>
      <i class="fas fa-angle-right next"></i>

      <div class="bottom-post-wrapper">
        <div class="bottom-post-container">
          <div class="bottom-post">
            <img
              src="https://static.wixstatic.com/media/131a9a_0b91f9e51baa41a39d1cd701db454db4~mv2.jpg/v1/fill/w_425,h_240,al_c,q_80,usm_0.66_1.00_0.01/131a9a_0b91f9e51baa41a39d1cd701db454db4~mv2.webp"
              alt="" class="slider-image">
            <div class="bottom-post-info">
              <h2><a href="#">A Date with Stars</a></h2>
              <h3>
                Aug-27, 4-5 PM<br>
                Age: 8-15 years
              </h3>
            </div>
          </div>
          <div class="bottom-post-description">
            <h4 class="description">I'm a paragraph. Click here to add your own text and edit me. I’m a great place
              for
              you to tell a story
              and let your users know a little more miTest-heading you.</h4>
          </div>
          <div class="btn-container">
            <button class="button" style="vertical-align:middle"><span>Enroll Now</span></button>
          </div>
        </div>
        <div class="bottom-post-container">
          <div class="bottom-post">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHWyloS0AkaoQGPJFZ6bzByFQSZIJMx6W4lA&usqp=CAU"
              alt="" class="slider-image">
            <div class="bottom-post-info">
              <h2><a href="#">A Date with Stars</a></h2>
              <h3>
                Aug-27, 4-5 PM<br>
                Age: 8-15 years
              </h3>
            </div>
          </div>
          <div class="bottom-post-description">
            <h4 class="description">I'm a paragraph. Click here to add your own text and edit me. I’m a great place
              for
              you to tell a story
              and let your users know a little more miTest-heading you.</h4>
          </div>
          <div class="btn-container">
            <button class="button" style="vertical-align:middle"><span>Enroll Now</span></button>
          </div>
        </div>
        <div class="bottom-post-container">
          <div class="bottom-post">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuC3ncdb5d4yMrrulH-53vz2Kq5XlhnlozOg&usqp=CAU"
              alt="" class="slider-image">
            <div class="bottom-post-info">
              <h2><a href="#">A Date with Stars</a></h2>
              <h3>
                Aug-27, 4-5 PM<br>
                Age: 8-15 years
              </h3>
            </div>
          </div>
          <div class="bottom-post-description">
            <h4 class="description">I'm a paragraph. Click here to add your own text and edit me. I’m a great place
              for
              you to tell a story
              and let your users know a little more miTest-heading you.</h4>
          </div>
          <div class="btn-container">
            <button class="button" style="vertical-align:middle"><span>Enroll Now</span></button>
          </div>
        </div>
        <div class="bottom-post-container">
          <div class="bottom-post">
            <img
              src="https://marvel-b1-cdn.bc0a.com/f00000000026007/resilienteducator.com/wp-content/uploads/sites/34/2013/01/teacher-hands-raised-min.jpg"
              alt="" class="slider-image">
            <div class="bottom-post-info">
              <h2><a href="#">A Date with Stars</a></h2>
              <h3>
                Aug-27, 4-5 PM<br>
                Age: 8-15 years
              </h3>
            </div>
          </div>
          <div class="bottom-post-description">
            <h4 class="description">I'm a paragraph. Click here to add your own text and edit me. I’m a great place
              for
              you to tell a story
              and let your users know a little more miTest-heading you.</h4>
          </div>
          <div class="btn-container">
            <button class="button" style="vertical-align:middle"><span>Enroll Now</span></button>
          </div>
        </div>



      </div>
    </div>
    <!-- // bottom-Post Slider end-->

    <div class="bottom-post-mitest-container">
      <div class="bottom-post-mitest-image">
        <img
          src="https://static.wixstatic.com/media/131a9a_a23c02d6503949f7aadfc7ab5d224c36~mv2.png/v1/fill/w_577,h_491,al_c,q_85/131a9a_a23c02d6503949f7aadfc7ab5d224c36~mv2.webp"
          alt="Mi test image">
      </div>
      <div class="bottom-post-mitest-imfo">
        <div class="bottom-post-mitest-heading">
          <h1>Explore Your Interests</h1>
        </div>
        <div class="bottom-post-mitest-description">
          <h3 class="description1">Are you confused miTest-heading your interests? Take this simple Multiple
            Intelligence
            Test to learn more miTest-heading
            yourself. This MI test is based on the theory presented by Prof Howard Gardner and is being widely used
            in
            most of the modern education systems to identify and nurture the intrinsic talents of the children.</h3>
        </div>
        <div class="btn-container">
          <button class="button" style="vertical-align:middle" ><span>MI Test</span></button>
        </div>
      </div>
    </div>
  </div>

  <!-- happy parents section starts -->
  <div class="happy-parents">
    <h1 class="happy-parents-title">Happy Parents:)</h1>
    <main>
      <div class="card">
        <img
          src="https://cdn.shopify.com/s/files/1/0289/5858/9027/files/14_f560fe27-2bee-49e8-a4a5-fa7a307165ce.png?v=1579075754"
          alt="avatar" class="avatar" />
        <p>
          <strong>Name,Title</strong>
          <br> Share the amazing things customers are saying miTest-heading your business. Double click, or click Edit
          Text
          to make it yours.
        </p>
      </div>
      <div class="card">
        <img
          src="https://cdn.shopify.com/s/files/1/0289/5858/9027/files/14_f560fe27-2bee-49e8-a4a5-fa7a307165ce.png?v=1579075754"
          alt="avatar" class="avatar" />

        <p>
          <strong>Name,Title</strong>
          <br>Share the amazing things customers are saying miTest-heading your business. Double click, or click Edit
          Text
          to make it yours.
        </p>
      </div>
      <div class="card">
        <img
          src="https://cdn.shopify.com/s/files/1/0289/5858/9027/files/14_f560fe27-2bee-49e8-a4a5-fa7a307165ce.png?v=1579075754"
          alt="avatar" class="avatar" />
        <p>
          <strong>Name,Title</strong>
          <br>Share the amazing things customers are saying miTest-heading your business. Double click, or click Edit
          Text
          to make it yours.
        </p>
      </div>

    </main>
  </div>
  <!-- happy parents section end -->

  </div>

  <!-- contact section starts  -->
  <section id="contact" class="contact">

    <h1 class="heading">contact us</h1>


    <div class="row">

      <div class="image">
        <img src="/images/contactUs.svg" alt="contactUs">
      </div>

      <div class="form-container">
        <form action="">

          <div class="inputBox">
            <input type="text" placeholder="first name">
            <input type="text" placeholder="last name">
          </div>

          <input type="email" placeholder="email">
          <textarea name="" id="" cols="30" rows="5" placeholder="message"></textarea>
          <input type="submit" value="send">

        </form>
      </div>

    </div>

  </section>

  <!-- contact section ends -->


  <!-- footer section starts  -->

  <section class="footer">

    <h1>CurosityPark | all rights reserved.</h1>

    <div class="icons">
      <a href="https://www.facebook.com/curiositypark/" class="fab fa-facebook-f"></a>
      <a href="https://twitter.com/curiosity_park" class="fab fa-twitter"></a>
      <a href="https://www.instagram.com/curiositypark_official/" class="fab fa-instagram"></a>
      <a herf="#" class="fab fa-whatsapp"></a>
    </div>

  </section>


  <!-- footer section ends-->






  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Slick Carousel -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Custom Script -->
  <script src="/js/home.js"></script>

</body>

</html>