<!DOCTYPE html>
<html>
    <head>
        <title>TEST</title> 
        <style>
            ul{
                list-style: none;
            }
            li{
                color: #a343c9;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: 17px;
            }
            form{
                width: 50%;
                margin: 0 auto;
                /*background: #FCCD04;*/
                background: #17E9E0;
                padding-top: 10px;
            }
            .st1{
                border:1px solid #F5E6CC;
            }
            .st2{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;
                
                color: #a343c9;
            }
            #checkbtn{
                margin-left: 41%;
                margin-bottom: 30px;
                padding: 10px 19px;
                font-size: 20px;
                border: none;
                border-radius: 8px;
                background: #FCCD04;
                font-weight: 500;
                color: #a343c9;
                
            }
        </style>
    </head>
    <body>
        <div>
            <form action="/checkMiTest" method="POST">
                <ul>
                    <% Questions.forEach(element => {%>
                        <li><%=element.name%></li>
                        <label for="yesbtn" class="st2">Yes</label>
                        <input type="checkbox" name="val" value="yes" id="yesbtn" class="st1">
                        <label for="nobtn" class="st2">No</label>
                        <input type="checkbox" name="val" value="no" id="nobtn" class="st1">
                        
                    <%});%>
                </ul>
                <input type="submit" value="CHECK" id="checkbtn">
            </form>
            <script src="/js/mitest.js"></script>
        </div>
    </body>
</html>