body{
  background-color: #A64AC9 !important;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  align-items: center;
justify-content: center;
}
a {
  color: #17E9E0 !important ;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}
.heading{
    color: #17E9E0;
}
h2{
    text-align: center;
    font-size: 13px;
font-weight: 600;
text-transform: uppercase;
display:inline-block;
color: #17E9E0;
}
.main {
 margin-top: 20px;
  
}
.container{
  width: 400px !important;
  
}
#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 3px;
  
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 15px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
input[type=button], input[type=submit], input[type=reset]  {
  background-color: #17E9E0;
  border: none;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
}    
input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6; 
  border-radius: 5px 5px 5px 5px;
}    
input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #17E9E0;
}

input[type=text]:placeholder {
  color: #cccccc;
}
input[type=submit]{
    margin: 10px;
}
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
input:focus::placeholder {
  color: transparent;
}